<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">New Payment</h2>
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/payment/add}"  method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="amount" class="col-form-label">Amount</label>
                        <input type="text" name="amount"  class="form-control" id="amount" placeholder="amount">
                        <label>Invoice :</label>
                        <br/>
                        <select name="invoiceId">
                            <option th:each="invoiceId : ${invoiceList}"
                                    th:text="${invoiceId}"
                                    th:value="${invoiceId}">
                        </select><br/>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add Payment">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input  class="btn btn-primary" type="button" value="BACK" onclick="history.go(-1);" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>